.animation-pulse-color{
  animation: pulse-color 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse-color {
  0%{
    color: aliceblue;
  }
  50% {
    color: aqua;
  }
  100%{
    color: burlywood;
  }
}